<a href="https://colab.research.google.com/github/Vivega28/week-4-prepinsta/blob/main/Week_5_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sqlite3 as sql

In [12]:
git clone https://github.com/Vivega28/week_5_prepinsta/blob/main/sql-murder-mystery.db

SyntaxError: invalid syntax (<ipython-input-12-513dabba4e01>, line 1)

In [10]:
conn = sql.connect("/content/sql-murder-mystery.db")

In [11]:
conn

In [8]:
### Define the SQL query ###
display = '''SELECT *
FROM crime_scene_report
WHERE city = "SQL City"'''
pd.read_sql_query(display,conn)

DatabaseError: Execution failed on sql 'SELECT *
FROM crime_scene_report
WHERE city = "SQL City"': no such table: crime_scene_report